.container {
    margin-top: 75px;
}

.card-view {
    max-width: 500px !important;
}

.card-movie-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}


.movie-details {
    text-align: left;
    flex-basis: 33%;
    padding: 8px;
    label {
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }
}

