
<div class="container">
    <!-- Movie Card Start -->
    <div class="card-view details" *ngIf="movie$ | async ; let movie">
        <div class="card-movie-content">
            <div class="card-movie-content-head">
                <h3 class="card-movie-title">{{movie.Title}}</h3>
                <div *ngIf="movie['IMDB Rating']" class="ratings"><span>{{movie['IMDB Rating']}}</span>/10</div>
            </div>
            <div class="card-movie-info">
                <div *ngIf="movie['Release Date']" class="movie-details">
                    <label>Release Date</label>
                    <span>{{movie['Release Date']}}</span>
                </div>
                <div *ngIf="movie['Major Genre']" class="movie-details">
                    <label >Major Genre</label>
                    <span>{{movie['Major Genre']}}</span>
                </div>
                <div *ngIf="movie['Distributor']" class="movie-details">
                    <label >Distributor</label>
                    <span>{{movie['Distributor']}}</span>
                </div>
                <div *ngIf="movie['Running Time min']" class="movie-details">
                    <label >Running Time min</label>
                    <span>{{movie['Running Time min']}} min</span>
                </div>
                <div *ngIf="movie['US Gross']" class="movie-details">
                    <label >US Gross</label>
                    <span>{{movie['US Gross']  | shortNumber}}</span>
                </div>
                <div *ngIf="movie['Worldwide Gross']" class="movie-details">
                    <label >Worldwide Gross</label>
                    <span>{{movie['Worldwide Gross'] | shortNumber}}</span>
                </div>
                <div *ngIf="movie['US DVD Sales']" class="movie-details">
                    <label >US DVD Sales</label>
                    <span>{{movie['US DVD Sales'] | shortNumber}}</span>
                </div>
                <div *ngIf="movie['Production Budget']" class="movie-details">
                    <label >Production Budget</label>
                    <span>{{movie['Production Budget'] | shortNumber}}</span>
                </div>
                <div *ngIf="movie['MPAA Rating']" class="movie-details">
                    <label >MPAA Rating</label>
                    <span>{{movie['MPAA Rating']}}</span>
                </div>
                <div *ngIf="movie['Source']" class="movie-details">
                    <label >Source</label>
                    <span>{{movie['Source']}}</span>
                </div>
                <div *ngIf="movie['Creative Type']" class="movie-details">
                    <label >Creative Type</label>
                    <span>{{movie['Creative Type']}}</span>
                </div>
                <div *ngIf="movie['Director']" class="movie-details">
                    <label >Director</label>
                    <span>{{movie['Director']}}</span>
                </div>
                <div *ngIf="movie['IMDB Votes']" class="movie-details">
                    <label >IMDB Votes</label>
                    <span>{{movie['IMDB Votes'] | shortNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Movie Card End -->