<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <p>Please enter your credentials to login.</p>
                <div *ngIf="isError" class="alert alert-danger" role="alert">
                    {{errorMsg}}
                </div>
            </div>
        </div>
        <form [formGroup]="form" class="login-form">
            <input type="text" placeholder="username" formControlName="username"/>
            <input type="password" placeholder="password" formControlName="password"/>
            <button (click)="login()">login</button>
        </form>
    </div>
</div>