<div class="container">
    <!-- Movie Card Start -->
    <div class="card-view" *ngFor="let movie of movies$ | async as movies" [routerLink]="['/movies', movie.id]">
        <div class="card-movie-content">
            <div class="card-movie-content-head">
                <h3 class="card-movie-title" app-Highlight [content]="movie.Title" [searchTerm]="searchQuery">{{movie.Title}}</h3>
                <div *ngIf="movie['IMDB Rating']" class="ratings"><span>{{movie['IMDB Rating']}}</span>/10</div>
            </div>
            <div class="card-movie-info">
                <div *ngIf="movie['Release Date']" class="movie-details">
                    <label>Release Date</label>
                    <span>{{movie['Release Date']}}</span>
                </div>
                <div *ngIf="movie['Major Genre']" class="movie-details">
                    <label >Major Genre</label>
                    <span>{{movie['Major Genre']}}</span>
                </div>
                <div *ngIf="movie['IMDB Votes']" class="movie-details">
                    <label >IMDB Votes</label>
                    <span>{{movie['IMDB Votes'] | shortNumber}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Movie Card End -->