<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">GBA Movies</a>
    <div class="input-group ">
        <input type="text" class=" w-60" type="text" placeholder="Search By Title" [ngModel]="searchQuery | titlecase" (ngModelChange)="searchQuery = $event">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="navigateToMoviesWithFilters()">Search</button>
        </div>
    </div>

    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary sort" (click)="navigateToMoviesWithFilters()">Sort By</button>
        <select class="custom-select" [(ngModel)]="sortByKey">
            <option value =""></option>
            <option *ngFor="let movieKey of movieKeys" [value]="movieKey">{{movieKey}}</option>
          </select>
    </div>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap" (click)="logout()">
            <div class="nav-link" >
                <i class="material-icons">
                    logout
                </i>
            </div>
        </li>
    </ul>
</nav>