.w-60 {
    width: 60%;
}

.custom-select {
    border: none;
    border-radius: 0;
}

.sort {
    border-radius: 2px !important;
}

.input-group {
    width: 60%;
}

.nav-link {
    cursor: pointer;
}